<div class="global couleur-entete">
    <header class='entete'>
        <h1>Projet Veille Node.js</h1>
        <h2>Tim - Collège de Maisonneuve</h2>
        <a href="http://localhost:8081/fr">Fr</a>
        <a href="http://localhost:8081/en">En</a>
    </header>
</div>